<h1 mat-dialog-title>Thông tin học viên</h1>
<form [formGroup]="lectureFormGroup" (ngSubmit)="submitCreateLecture()">
  <div mat-dialog-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="center">
      <div fxFlex="30%">
        <img [src]="imageFormGroup" width="100%" height="300px">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button (click)="file.click()"  mat-flat-button type="button" style="width: 100%;background-color: #F17D36; color: whitesmoke;">
          <mat-icon>upload</mat-icon>
          Tải lên
        </button>
      </div>
      <div fxFlex="70%">
        <mat-form-field appearance="outline">
          <mat-label>Họ và tên</mat-label>
          <input matInput placeholder="Nguyen Van A" formControlName="fullName">
        </mat-form-field>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="center">
          <div fxFlex="50%">
            <mat-form-field appearance="outline">
              <mat-label>SĐT</mat-label>
              <input matInput placeholder="0xxxxxxxxx"formControlName="phone" >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Giới tính</mat-label>
              <mat-select formControlName="sex">
                <mat-option [value]="true">Nam</mat-option>
                <mat-option [value]="false">Nữ</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Facebook</mat-label>
              <input matInput placeholder="" formControlName="facebook" >
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field appearance="outline">
              <mat-label>Ngày sinh</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthday" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Trình độ</mat-label>
              <input matInput placeholder="" formControlName="level" >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="" formControlName="email">
            </mat-form-field>
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Địa chỉ</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="1" formControlName="address" ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ghi chú</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="3" formControlName="note"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button style="float: right;background-color: #F17D36; color: whitesmoke;" type="submit"
      matTooltip="Cập nhật">
      <mat-icon>check</mat-icon>
      Thêm
    </button>
    <button mat-button style="float: right" mat-dialog-close tabindex="-1" matTooltip="Hủy bỏ thao tác">
      <mat-icon>close</mat-icon>
      Hủy bỏ
    </button>
  </div>
</form>
