.button-action {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.button-delete {
  background-color: #f64e60;
  font-family: "Poppins", sans-serif;
  color: white;
}

#confirm-form {
  font-family: "Poppins", "Helvetica", "sans-serif";
}
