.login-form {
  max-width: 400px;
  margin: 0 auto; /* chỉnh lề giao diện tự động */
  margin-top: 75px;
  //background-color: lightgreen;
  width: 350px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
#text-login {
  text-align: center;
  font-size: 40px;
  color: black;
  height: 70px;
  padding-top: 5px;
}
nz-layout {
  margin: 0 auto; /* chỉnh lề giao diện tự động */
  margin-top: 100px;
  width: 40%; /* phải đặt kích thước giao diện cho trang */
  height: 450px;
}
