<h1 mat-dialog-title>Thông tin tài khoản</h1>
<form [formGroup]="accountFormGroup" (ngSubmit)="submitUpdateAccount()">
  <div mat-dialog-content>

    <mat-form-field appearance="outline">
      <mat-label>Họ và tên</mat-label>
      <input matInput placeholder="" formControlName="fullName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ngày sinh</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Số điện thoại</mat-label>
      <input matInput placeholder="" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Địa chỉ</mat-label>
      <input matInput placeholder="" formControlName="address">
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-flat-button color="accent" style="float: right" type="submit" matTooltip="Cập nhật nhóm quản trị">
      <mat-icon>check</mat-icon>
      Cập nhật
    </button>
    <button mat-button style="float: right" mat-dialog-close tabindex="-1" matTooltip="Hủy bỏ thao tác">
      <mat-icon>close</mat-icon>
      Hủy bỏ
    </button>
  </div>

</form>
